body {
  background: #ffffff;
  color: #222222;
  font-family: Arial;
  font-size: 12px;
  line-height: 17px; }

div.slider {
  position: relative;
  width: 800px;
  height: 200px;
  overflow: hidden; }
  div.slider ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none; }
    div.slider ul li {
      float: left; }
      div.slider ul li a img {
        display: block; }

ul.slider-nav {
  margin: 0;
  padding: 20px 0 0 0;
  width: 800px;
  overflow: hidden;
  list-style-type: none; }
  ul.slider-nav li.previous {
    float: left; }
  ul.slider-nav li.next {
    float: right; }
  ul.slider-nav li a {
    font-weight: bold;
    text-decoration: none;
    color: green; }
    ul.slider-nav li a.disabled {
      color: gray; }
