div.slider {
  position: relative;
  width: 800px;
  height: 200px;
  overflow: hidden; }
  div.slider ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none; }
    div.slider ul li {
      float: left; }
      div.slider ul li a img {
        display: block; }
