body {
    background: #ffffff;
    color: #222222;
    font-family: Arial;
    font-size: 12px;
    line-height: 17px;
}

div.slider {
    position: relative;
    width: 800px;
    height: 200px;
    overflow: hidden;

    ul {
        position: absolute;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            float: left;

            a {
                img {
                    display: block;
                }
            }
        }
    }
}

ul.slider-nav {
    margin: 0;
    padding: 20px 0 0 0;
    width: 800px;
    overflow: hidden;
    list-style-type: none;

    li {
        &.previous {
            float: left;
        }
        &.next {
            float: right;
        }

        a {
            font-weight: bold;
            text-decoration: none;
            color: green;

            &.disabled {
                color: gray;
            }
        }
    }
}